table {
    margin: 50px 175px;
    width: 80%;
    border: 2px solid rgb(199, 175, 175, 0.3);
}
table, th, td {
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th, td {
    padding: 15px;
    text-align: left;
}
#t01 tr:nth-child(even) {
    background-color:  floralwhite ;
    color: rgb(88, 60, 60);
}
#t01 a:link {
    color:  rgb(62, 59, 70) ;
    text-decoration: none;
}

#t01 tr:nth-child(odd) {
    background-color: rgb(199, 175, 175, 0.3);
    color: rgb(88, 60, 60);
}
#t01 th {
    background-color: rgb(199, 175, 175);
    color: white;
}
.edit {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(62, 59, 70) ;
}
.answer{
    margin-top: -25px;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -25px;
    height: 50px;
    border:none;
    background-color: rgb(199, 175, 175, 0);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.submitAnswer{
    margin-top: -25px;
    /* margin-left: -30px; */
    /* margin-right: -30px; */
    margin-bottom: -25px;
    height: 50px;
    border:none;
    background-color: rgb(199, 175, 175, 0);
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}